* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none !important;
}

/*navbar*/
nav {
    background-color: #191a1a;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
}

nav a {
    padding: 10px 23px;
    color: white;
    margin: 0 0 4px 0;
    cursor: pointer;
}

nav a:hover {
    background-color: #353535;
    transition: transform ease 0.2s 0s;
    transform: scale(1.2);
    border-radius: 8px;
}
