* {
    padding: 0;
    margin: 0;
    text-align: center;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px;
    background-color: rgb(40, 38, 38);
    color: white;
    border: 1px solid black;
    border-radius: 7px;
    margin: 50px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #353535;
    transition: transform ease 0.1s 0s;
    transform: scale(1.2);
    border-radius: 8px;
}

/* if error */
.error {
    font-weight: 400;
    background-color: rgb(255, 155, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 100px;
    border-radius: 8px;
    margin-top: 50px;
    position: absolute;
    top: 50px;
    left: 28%;
}

/*  */
h1 {
    margin-top: 50px;
}

/* footer emojis info */
footer {
    margin-top: 100px;
}

footer > div {

    display: flex;
    flex-direction: row;
    justify-content: center;
}