* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 120px 0 0 0;
}

form div {
    margin: 30px 0;
}
form input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 7px 0;
}
form input:hover {
    background-color: rgb(252, 247, 240);
}
.please-sign-in {
    margin: 100px 0 0 0;
}

button {
    padding: 10px;
    background-color: rgb(40, 38, 38);
    color: white;
    border: 1px solid black;
    border-radius: 7px;
    margin: 50px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #353535;
    transition: transform ease 0.1s 0s;
    transform: scale(1.2);
    border-radius: 8px;
}

/* error */
.error {
    font-weight: 400;
    background-color: rgb(255, 155, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 100px;
    border-radius: 8px;
    margin-top:50px ;
    position: absolute;
    top: 50px;
    left: 35%;
}