<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sign In </title>
    <%- include('../common/head') %>
</head>

<body> 
    <%- include('../common/studentNavbar') %>
  
      <% if (locals.error) { %>
        <div class="container mt-5">
          <div class="alert alert-danger" role="alert">
            <%= locals.error %>
          </div>
        </div>
        <% } %>
    <h1>Student Sign In</h1>
    <form action="/student/signin" method="post">
        <div class="mb-3">
            <label for="prn" class="form-label">Enter PRN</label>
            <input type="text" class="form-control" id="prn" name="prn" aria-describedby="prn" autocomplete="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="current-password">
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</body>
<% - include('../common/script') %>
</html>