<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <%- include('../common/head') %>
</head>
<style>
    form {
        font-weight: bold;
    }
</style>

<body> 
  <%- include('../common/studentNavbar') %> 
      
    <% if (locals.error) { %>
      <div class="container mt-4">
        <div class="alert alert-danger" role="alert">
          <%= locals.error %>
        </div>
      </div>
      <% } %>
    <h1>Student Sign Up</h1>
    <form action="/student/signup" method="post">
        <div class="mb-4">
            <label for="fullname" class="form-label">Full Name</label>
            <input type="text" name="fullname"
            class="form-control" id="fullname" 
            aria-describedby="fullname" 
            placeholder="Enter Full Name">
        </div>
        <div class="mb-4">
            <label for="prn" class="form-label">PRN:</label>
            <input type="text" class="form-control" id="prn" aria-describedby="prn" name="prn"
            placeholder="Enter PRN">
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password"
            placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
   <%- include('../common/script') %>

</html>